
<div >
  <%= image_tag(@product.image, style:'width:100px; ') %>
</div>
<p>
  <strong>Product Name:</strong>
  <%= @product.product_name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
<% if can? :update, @product %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
  <%= link_to 'Back', products_path %>
